.blanco{
    background-color: white;
}

.ban{
    background-color: white;
    height: 80px;
}

.ecart{
    height: 20px;
}

.img{
    height: 80px;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
}


#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

body{
    background-color: #E5861B;
}

button{
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 15px;
    border: 2px solid  #ff0000;
    cursor: pointer;
    width: 20%;
}

button:hover{
    background-color: white;
    color: #ff0000;
    padding: 14px 20px;
    margin: 8px 15px;
    border: 2px solid #ff0000;
    cursor: pointer;
    width: 20%;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=text], input[type=password], input[type=datetime-local], input[type=url],select, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #E5861B;
    color: white;
    padding: 14px 20px;
    margin: 8px 15px;
    border: 2px solid  #E5861B;
    cursor: pointer;
    width: 20%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 2px solid #53af57;
}
